.eplioque{
    font-family: 'Epilogue', sans-serif;
    }
    .lato{
    font-family: 'Lato', sans-serif;
    }
    .open-sans{
    font-family: 'Open Sans', sans-serif;
    }
    .roboto{
    font-family: 'Roboto', sans-serif;
    }
    .sora{
    font-family: 'Sora', sans-serif;
    }